Radio Channel MPU/Channel 1/Nodered/flows.json
[{"id":"edbdb99e4af9203e","type":"tab","label":"Default","disabled":false,"info":""},{"id":"64559e3984baa195","type":"tab","label":"Bridge","disabled":false,"info":""},{"id":"88001e5f.2ac61","type":"sqlitedb","db":"/home/pi/script/test.db","mode":"RWC"},{"id":"4127d87.d0d4328","type":"websocket-listener","path":"/ws/sock","wholemsg":"false"},{"id":"97158aa1.026308","type":"sqlitedb","db":"/home/pi/db/data.db","mode":"RW"},{"id":"2416133de82532d2","type":"websocket-listener","path":"/ws/state","wholemsg":"false"},{"id":"1a21a4a5b9a9336a","type":"daemon","z":"edbdb99e4af9203e","name":"endpoint","command":"twinkle","args":"-c -f terminal.cfg --force","autorun":false,"cr":false,"redo":true,"op":"string","closer":"SIGKILL","x":200,"y":160,"wires":[["099863750d2582ac","85b7c5c429e54e40"],["a61a9a657e4bb3b9"],["a5a8c097539ec369"]]},{"id":"099863750d2582ac","type":"debug","z":"edbdb99e4af9203e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":120,"wires":[]},{"id":"85b7c5c429e54e40","type":"switch","z":"edbdb99e4af9203e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"registration succeeded","vt":"str"},{"t":"cont","v":"far end ended call","vt":"str"},{"t":"cont","v":"call ended","vt":"str"},{"t":"cont","v":"call failed","vt":"str"},{"t":"cont","v":"far end answered call","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":130,"y":320,"wires":[["f9daa5e6392552fa"],["772542988d74bfc4"],["772542988d74bfc4"],["d583002d419aa84c"],["aaf15d14edc4e3f8"]]},{"id":"a61a9a657e4bb3b9","type":"debug","z":"edbdb99e4af9203e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"a5a8c097539ec369","type":"debug","z":"edbdb99e4af9203e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":200,"wires":[]},{"id":"772542988d74bfc4","type":"delay","z":"edbdb99e4af9203e","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":320,"y":360,"wires":[["da914a36481775af"]]},{"id":"da914a36481775af","type":"sqlite","z":"edbdb99e4af9203e","mydb":"97158aa1.026308","sqlquery":"fixed","sql":"select conf from table1;","name":"query","x":490,"y":300,"wires":[["946459273fcdfe12"]]},{"id":"946459273fcdfe12","type":"function","z":"edbdb99e4af9203e","name":"","func":"var confnum = msg.payload[0].conf;\n//flow.set('conf', confnum);\nmsg.payload = \"call sip:\" + confnum + \"@192.168.169.1\" + \"\\n\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":240,"wires":[["1a21a4a5b9a9336a"]]},{"id":"f9daa5e6392552fa","type":"delay","z":"edbdb99e4af9203e","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":320,"y":300,"wires":[["da914a36481775af"]]},{"id":"737091bcf6305d14","type":"function","z":"edbdb99e4af9203e","name":"","func":"msg.payload = 'bye\\n';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["1a21a4a5b9a9336a"]]},{"id":"d583002d419aa84c","type":"delay","z":"edbdb99e4af9203e","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":320,"y":400,"wires":[["da914a36481775af"]]},{"id":"aaf15d14edc4e3f8","type":"function","z":"edbdb99e4af9203e","name":"","func":"msg.payload = \"ready\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":440,"wires":[["208dc432d74e48cb"]]},{"id":"1f4e1d6d16b3f4e9","type":"link in","z":"edbdb99e4af9203e","name":"A","links":["75a6b4a76c9fc9f6"],"x":175,"y":80,"wires":[["737091bcf6305d14"]]},{"id":"208dc432d74e48cb","type":"link out","z":"edbdb99e4af9203e","name":"B","links":["3db9b791943d6628"],"x":365,"y":440,"wires":[]},{"id":"bf4171b3e98cc62f","type":"websocket out","z":"64559e3984baa195","name":"socket out","server":"2416133de82532d2","client":"","x":670,"y":140,"wires":[]},{"id":"bb6dcab67c6ccc51","type":"websocket in","z":"64559e3984baa195","name":"socket in","server":"2416133de82532d2","client":"","x":80,"y":160,"wires":[["e84e7884b8738c7b"]]},{"id":"454c5e5fe7ea70dd","type":"sqlite","z":"64559e3984baa195","mydb":"97158aa1.026308","sqlquery":"fixed","sql":"select conf from table1;","name":"query","x":290,"y":140,"wires":[["75338536d57df7a0"]]},{"id":"e84e7884b8738c7b","type":"switch","z":"64559e3984baa195","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"query mpu","vt":"str"},{"t":"eq","v":"2001","vt":"str"},{"t":"eq","v":"2002","vt":"str"},{"t":"eq","v":"2011","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":150,"y":260,"wires":[["454c5e5fe7ea70dd","f4faf2a503b50b13"],["6b0aa646fa6e7f68","45b0c1400ce12bf2"],["e46d75d21dbce651","45b0c1400ce12bf2"],["3d0f0c6c54525ac8","45b0c1400ce12bf2"]]},{"id":"75338536d57df7a0","type":"function","z":"64559e3984baa195","name":"","func":"msg.payload = msg.payload[0].conf;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":140,"wires":[["bf4171b3e98cc62f"]]},{"id":"6b0aa646fa6e7f68","type":"sqlite","z":"64559e3984baa195","mydb":"97158aa1.026308","sqlquery":"fixed","sql":"update table1 set conf = 2001;","name":"update","x":340,"y":220,"wires":[["75a6b4a76c9fc9f6"]]},{"id":"e46d75d21dbce651","type":"sqlite","z":"64559e3984baa195","mydb":"97158aa1.026308","sqlquery":"fixed","sql":"update table1 set conf = 2002;","name":"update","x":340,"y":260,"wires":[["75a6b4a76c9fc9f6"]]},{"id":"3d0f0c6c54525ac8","type":"sqlite","z":"64559e3984baa195","mydb":"97158aa1.026308","sqlquery":"fixed","sql":"update table1 set conf = 2011;","name":"update","x":340,"y":300,"wires":[["75a6b4a76c9fc9f6"]]},{"id":"75a6b4a76c9fc9f6","type":"link out","z":"64559e3984baa195","name":"A","links":["1f4e1d6d16b3f4e9"],"x":475,"y":260,"wires":[]},{"id":"3db9b791943d6628","type":"link in","z":"64559e3984baa195","name":"B","links":["208dc432d74e48cb"],"x":515,"y":60,"wires":[["bf4171b3e98cc62f"]]},{"id":"f4faf2a503b50b13","type":"exec","z":"64559e3984baa195","command":"/home/pi/script/checkLine.sh","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"check line","x":370,"y":420,"wires":[["0aa4d81491fa86cb","0afd7194ac05b17d"],[],[]]},{"id":"0aa4d81491fa86cb","type":"function","z":"64559e3984baa195","name":"","func":"var str = msg.payload.trim();\n\nif (str == \"16911\") {msg.payload = \"ready\"}\nelse {msg.payload = \"\"}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":380,"wires":[["bf4171b3e98cc62f"]]},{"id":"67a668700d1e875d","type":"udp out","z":"64559e3984baa195","name":"","addr":"192.168.169.1","iface":"","port":"14011","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":530,"y":520,"wires":[]},{"id":"45b0c1400ce12bf2","type":"function","z":"64559e3984baa195","name":"","func":"let str = { payload: \"navy-\" + msg.payload };\nreturn str;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":520,"wires":[["67a668700d1e875d"]]},{"id":"b3d9866e09a0caa6","type":"comment","z":"64559e3984baa195","name":"update bridge","info":"update bridge table in bridge controller\nkailangan bagohin yung payload into \"navy\"","x":300,"y":480,"wires":[]},{"id":"6cd489f789bf09c5","type":"comment","z":"64559e3984baa195","name":"","info":"payload input galing sa bridge flow (Bridge Control) via websocket page","x":100,"y":40,"wires":[]},{"id":"0afd7194ac05b17d","type":"debug","z":"64559e3984baa195","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":440,"wires":[]},{"id":"bca8b1333958c506","type":"comment","z":"64559e3984baa195","name":"","info":"checkLine script eh ginagamit lang during initial connection or refresh ng bridge page","x":360,"y":380,"wires":[]},{"id":"68fdac9ea3530354","type":"comment","z":"64559e3984baa195","name":"","info":"terminal extension","x":480,"y":300,"wires":[]},{"id":"c67228786e0ea37d","type":"comment","z":"64559e3984baa195","name":"","info":"same to extension number","x":640,"y":340,"wires":[]}]